$main-color: rgb(255, 255, 255);
$second-color: black;
$transition: all 0.5s;
$spicial: #2d67f7;
$border: 1px solid rgba(184, 184, 184, 0.63);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  // overflow-x: auto;
}

a {
  color: $main-color;
  text-transform: capitalize;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

ul {
  list-style: none;
}

section {
  position: relative;
  margin-bottom: 70px;
  overflow: hidden;
}
.about::after,
.skills::after,
.servics::after {
  content: "";
  background-color: black;
  width: 90%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

body {
  font-family: "Cairo", sans-serif;
  height: 5000px;
}

.main-title {
  font-family: inherit;
  width: 200px;
  height: 2.6em;
  line-height: 2.5em;
  margin: 35px auto;
  position: relative;
  overflow: hidden;
  border: 2px solid $second-color;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: $second-color;
}

.main-title:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: $second-color;
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

.main-title:hover {
  color: #fff;
}

.main-title:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.main-title:hover:before {
  top: -30px;
  left: -30px;
}

.main-title h2 {
  text-align: center;
  text-transform: uppercase;
}

.section {
  // color: red;
  transform: translateX(-2500px);
  transition: all 0.9s;
  // overflow: hidden;
}
.section:nth-of-type(even) {
  transform: translateX(2500px);
}
.show:nth-of-type(even) {
  transform: translateX(0);
}
.show {
  transform: translateX(0);
}


.card , .card1 , .card2 {
  margin: 25px;
}