$main-color: rgb(255, 255, 255);
$second-color: black;
$transition: all 0.5s;
$spicial: #2d67f7;
$border: 1px solid rgba(184, 184, 184, 0.63);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(12, 12, 12);
  height: 100vh;
  padding: 0 25px;
  padding-top: 65px;
  &::before {
    content: "";
    background-image: url(pics/last.png);
    background-size: 530px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  position: relative;
  width: 50%;
  color: $main-color;
  margin-bottom: 10px;
  animation-name: fromleft;
  animation-duration: 1.2s;
  & h1,
  & h2 {
    font-size: 35px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
  }
  &::after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    left: -14px;
    top: 0;
    background-color: $main-color;
  }
}

.pic {
  height: 100%;
  width: 600px;
  img {
    width: 100%;
    height: 100%;
  }
}

.btn {
  position: relative;
  margin-top: 40px;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 50px;
  display: inline-block;
  border-radius: 30px;
  transition: all 0.5s;
  border: none;
  font-weight: 600;
  color: black;
  background-color: $main-color;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    background-color: $main-color;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
