$main-color: rgb(255, 255, 255);
$second-color: black;
$transition: all 0.5s;
$spicial: #2d67f7;
$border: 1px solid rgba(184, 184, 184, 0.63);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

.services {
  min-height: 100vh;
  width: 100%;
  .cards {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.s-card {
  min-height: 350px;
  padding: 20px 40px;
  margin: 20px auto;
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $border;
  box-shadow: $shadow;
  gap: 40px;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  h2::before {
    content: "➔";
    position: absolute;
    width: 5px;
    height: calc(100% - 18px);
    left: -28px;
    top: 2px;
    z-index: 0;
  }
  .pic {
    width: 70%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.s-card h4,
.s-card p,
.s-card h2 {
  position: relative;
  margin: 15px;
}

.s-card h4::before,
.s-card p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: $spicial;
  left: -12px;
  top: 0px;
  z-index: 0;
}

.solve {
  flex-direction: row-reverse;
}

.fix img {
  width: 120%;
}

.text {
  display: flex;
  flex-direction: column;
}

.second {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background-color: #e8e9e9b0;
}

.rules {
  margin: auto;
  width: 95%;
  border: $border;
  box-shadow: $shadow;
  text-align: center;
  border-radius: 10px;
  background-color: $main-color;
  margin-top: 15px;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 35px;
  .web,
  .pro,
  .add,
  .geniral {
    border: $border;
    box-shadow: $shadow;
    border-radius: 10px;
    background-color: $main-color;
    padding: 30px;
  }
  div ul li {
    position: relative;
    &::before {
      content: "➔";
      position: absolute;
      width: 5px;
      height: calc(100% - 18px);
      left: -20px;
      top: 2px;
      z-index: 0;
    }
  }
  .add,
  .pro {
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web,
  .geniral {
    width: 95%;
  }
}
