$main-color: rgb(255, 255, 255);
$second-color: black;
$transition: all 0.5s;
$spicial: #2d67f7;
$border: 1px solid rgba(184, 184, 184, 0.63);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


.skills {
  min-height: 100vh;
}

.skill-sec {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.skill-sec .left-sec {
  width: 35%;
}

.skill-sec .left-sec .pic {
  width: 100%;
  height: 100%;
}

.skill-sec img {
  width: 100%;
  height: 100%;
}

.skill-sec .right-sec {
  width: 75%;
  min-height: 300px;
  border: 1px solid   $second-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.right-sec .skill {
  width: 100%;
  margin: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skill .name {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name i {
  font-size: 40px;
}

.skills h3 {
  color:   $second-color;
  font-size: 18px;
  font-weight: 700;
}

.progress {
  position: relative;
  width: 75%;
  height: 15px;
  border:   $border;
  margin: 10px;
  border-radius: 15px;
}

.progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 15px;
  transition: width 0.5s linear;
}

.progress .html2 {
  background-color: #e54d26;
}

.progress .css2 {
  background-color: #0b73ba;
}

.progress .js2 {
  background-color: #d9b82d;
}
.progress .sass {
  background-color: #c66394;
}

.others {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.card1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow:   $shadow;
  border:   $border;
  width: 280px;
  height: 170px;
  transition:   $transition;
}

.card1:hover {
  background-color:   $spicial;
  transform: translateY(-10px);
}
.card1 i {
  font-size: 45px;
  color:   $spicial;
  transition:   $transition;
}

.card1:hover i,
.card1:hover h4,
.card1:hover p {
  color:   $main-color;
}

.card1 h4 {
  text-transform: uppercase;
  transition:   $transition;
}

.card1 p {
  width: 90%;
  text-align: center;
  transition:   $transition;
}
